{% extends 'app/base.html' %}
{% load staticfiles %} <!-- New line -->

{% block title_block %}
    About RestaBook
{% endblock %}


{% block body_block %}    
    <div>
        RestaBook is a platform that allows users to book tables at restaurants. 
        <br>
        <br>
        It provides a user-friendly interface for searching and booking tables, as well as managing restaurant hours and adding custom hours. 
        The platform also includes features such as user profiles and search functionality. 
        <br>
        <br>
        We hope you enjoy using RestaBook! 
        
        <br />

    </div>

{% endblock %}