{% extends 'app/base.html' %}

{% block title_block %}
    Add Standard Hours
{% endblock %}

{% block body_block %}
<div class="form-container">
    <h1 class="form-title">Add Custom Hours for {{ restaurant.name }}</h1>
    <form method="post" action="{% url 'app:add_custom_hours' restaurant.slug %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if request.GET.edit %}
        <input type="hidden" name="edit" value="{{ request.GET.edit }}">
    {% endif %}
        <input type="submit" value="Save Changes">
    </form>
</div>
{% endblock %}