{% extends 'app/base.html' %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}

    <h1>RestaBook</h1>

    <p>Welcome to RestaBook!</p>
    Top restaurants: 
    <ul>
        {% if restaurants %}
            {% for restaurant in restaurants %}
                <li>
                    <strong>
                        <a href="{% url 'app:show_restaurant' restaurant.slug %}">{{ restaurant.name }}</a> - Average Rating: {{ restaurant.calculate_average_stars }}                    
                    </strong>
                </li>
    
                {% endfor %}
            {% else %}
            <li><strong>There are no restaurants present.</strong></li>
        {% endif %}
    </ul>

    <a href="{% url 'app:restaurants' %}">All restaurants</a>

{% endblock %}