{% extends 'app/base.html' %}

{% block title_block %}
    Your Profile
{% endblock %}

{% block body_block %}
    <h1>Welcome, {{ user.username }}!</h1>
    <p>Email: {{ user.email }}</p>

    <hr>

    <h2>Your Bookings</h2>
    {% if bookings %}
        <ul>
            {% for booking in bookings %}
                <li>
                    <strong>Restaurant:</strong> {{ booking.restaurant.name }}<br>
                    <strong>Date:</strong> {{ booking.date }}<br>
                    <strong>Time:</strong> {{ booking.time }}<br>
                    <strong>Guests:</strong> {{ booking.people_count }}
                </li>
                <hr>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have no bookings yet.</p>
    {% endif %}

    <hr>

    <h2>Your Reviews</h2>
    {% if reviews %}
        <ul>
            {% for review in reviews %}
                <li>
                    <strong>Restaurant:</strong> {{ review.restaurant.name }}<br>
                    <strong>Rating: </strong>
                    {% if review.star_rating == 1 %}
                        ⭐
                    {% endif %}
                    {% if review.star_rating == 2 %}
                        ⭐⭐
                    {% endif %}
                    {% if review.star_rating == 3 %}
                        ⭐⭐⭐
                    {% endif %}
                    {% if review.star_rating == 4 %}
                        ⭐⭐⭐⭐
                    {% endif %}
                    {% if review.star_rating == 5 %}
                        ⭐⭐⭐⭐⭐
                    {% endif %}
                    <br>

                    <strong>Comment:</strong> {{ review.comment }}<br>
                    <strong>Posted on:</strong> {{ review.review_date }}
                </li>
                <hr>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have not reviewed any restaurants yet.</p>
    {% endif %}

    <hr>

{% endblock %}

