{% extends 'app/base.html' %}
{% load static %}

{% block title_block %}
    Register
{% endblock %}

{% block body_block %}
<div class="form-container register-form">
    <h1 class="form-title">Register for RestaBook</h1>
    
    {% if registered %}
    <div class="success-message">
        Thank you for registering!
        <p><a href="{% url 'app:login' %}">Login here</a></p>
    </div>
    {% else %}
    <form id="user_form" method="post" action="{% url 'app:register' %}" enctype="multipart/form-data">
        {% csrf_token %}
        

        {% for field in user_form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endfor %}
        
        <button type="submit" class="btn-submit">Register</button>
    </form>
    {% endif %}
</div>
{% endblock %}