{% extends 'app/base.html' %}

{% block title_block %}
    All restaurants
{% endblock %}

{% block body_block %}



    <h1>All restaurants</h1>

    <form method="get">
        <label for="sort">Sort by:</label>
        <select name="sort" id="sort" onchange="this.form.submit()">
            {% for key, value in sort_options.items %}
                <option value="{{ key }}" {% if key == current_sort %}selected{% endif %}>{{ value }}</option>
            {% endfor %}
        </select>

        <div id="map" style="width: 100%; height: 400px;"></div>

    
        <label for="sort">Filter:</label>
        <select name="filter" id="filter" onchange="this.form.submit()">
            {% for key, value in filter_options.items %}
                <option value="{{ key }}" {% if key == current_filter %}selected{% endif %}>{{ value }}</option>
            {% endfor %}
        </select>

    </form>

    <ul>
        {% if restaurants %}
            {% for restaurant in restaurants %}
                <li>
                    <strong>
                        <a href="{% url 'app:show_restaurant' restaurant.slug %}">{{ restaurant.name }}</a> - Average Rating: {{ restaurant.calculate_average_stars }}                    </strong>
                </li>
    
                {% endfor %}
            {% else %}
            <li><strong>There are no restaurants present.</strong></li>
        {% endif %}
    </ul>
{% endblock %}
