{% extends 'app/base.html' %}

{% block title_block %}
    {{ name }}
{% endblock %}

{% block body_block %}

    <h1> {{ name }}</h1>
    Phone number: {{ phone }}
    Email: {{ email }}
    {% if address %}    
        Address: {{ address }}
    {% endif %}

    <div>
        {% if site_manager %}
            <li><a href="{{ request.path }}manage">Manager edit</a></li>
        {% endif %}
    </div>

    <a href="{% url 'app:book_table' restaurant_slug=restaurant.slug %}">Book a Table</a>
{% endblock %}