<!DOCTYPE html>

<html>
    <head>
        <title>
            RestaBook -
            {% block title_block %}
                Rest a Book
            {% endblock %}
        </title>
    </head>

    <body>

        <div>
            {% block body_block %}
            {% endblock %}
        </div>

        <div>
            {% block sidebar_block %}
            {% endblock %}
        </div>

        <hr />

        <div>
            <ul>
                <li><a href="{% url 'app:index' %}">Index</a></li>
                <li><a href="{% url 'app:about' %}">About</a></li>        
            </ul>
        </div>

    </body>

</html>